*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 350px;
    height: 550px;
    border: 1px solid black;
    background: linear-gradient(0deg, rgb(15, 96, 166) 0%, rgb(77, 6, 57) 47%);
    border-radius: 15px;
    padding: 30px;
    
}
.player{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coverimg{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.music_player_singer{
    display: flex;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 80px;
    text-align: center;

}
.music_player_timer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    
    
}
input[type=range] {
    height: 27px;
    appearance: none;
    margin: 10px 0;
    width: 100%; 
    background: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #70253C;
    border-radius: 1px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 3px 3px 5px #C44872;
    border: 0px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    margin-top: -6.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #70253C;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #70253C;
    border-radius: 1px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 3px 3px 5px #C44872;
    border: 0px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #70253C;
    border: 0px solid #010101;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #70253C;
    border: 0px solid #010101;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 3px 3px 5px #C44872;
    border: 0px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #70253C;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #70253C;
  }
  .musiv_player_control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 90px;    
   }
   .musiv_player_control span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(180, 178, 220);
   }
   
   .active{

      animation: rotateAnimation 5s linear infinite;
   }
   .cover{
    display: flex;
      justify-content: center;
      align-items: center;
   }
   .cover div{
     height: 20px;
     width:  20px;
     background-color: purple;
     border-radius: 50%;
     position: absolute;
    }
   .buttons{
    width: 100%;
    height: 65px;
   }
  

   .buttons span:hover i{
        transform: scale(1.5);
   }
   .progress_container{
    display: flex;
    justify-content: space-evenly;
   }
   .progress_Duration{
    display: flex;
    justify-content: space-evenly;
   }
   .progress_Duration input[type=range] {
    height: 21px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 80%;
  }
  .progress_Duration input[type=range]:focus {
    outline: none;
  }
  .progress_Duration input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #398EE3;
    border-radius: 50px;
    border: 0px solid #FFFFFF;
  }
  .progress_Duration input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 6px #C32EE8;
    border: 2px solid #E34C00;
    height: 13px;
    width: 13px;
    border-radius: 20px;
    background: #A11898;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
  }
  .progress_Duration input[type=range]:focus::-webkit-slider-runnable-track {
    background: #398EE3;
  }
  .progress_Duration input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #398EE3;
    border-radius: 50px;
    border: 0px solid #FFFFFF;
  }
  .progress_Duration input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 6px #C32EE8;
    border: 2px solid #E34C00;
    height: 13px;
    width: 13px;
    border-radius: 20px;
    background: #A11898;
    cursor: pointer;
  }
  .progress_Duration input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  .progress_Duration input[type=range]::-ms-fill-lower {
    background: #398EE3;
    border: 0px solid #FFFFFF;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  .progress_Duration input[type=range]::-ms-fill-upper {
    background: #398EE3;
    border: 0px solid #FFFFFF;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  .progress_Duration input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 6px #C32EE8;
    border: 2px solid #E34C00;
    height: 13px;
    width: 13px;
    border-radius: 20px;
    background: #A11898;
    cursor: pointer;
  }
  .progress_Duration input[type=range]:focus::-ms-fill-lower {
    background: #398EE3;
  }
  .progress_Duration input[type=range]:focus::-ms-fill-upper {
    background: #398EE3;
  }
  .beginningTime{
display: flex;
justify-content: center;
align-items: center;
color: white;
  }
  .endTime{
    display: flex;
justify-content: center;
align-items: center;
color: white;
  }

  #pause-img{
    display: none;

  }




     @keyframes rotateAnimation {
       0% {
         transform: rotate(0);
       }
  
       100% {
         transform: rotate(360deg);
       }
     }